#slider{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    transition: all 1s ease;
}

#slider img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: -20px;
    z-index: 2;
}

.prev,
.next {
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev{
    background-image: url(../res/images/next_button.svg);
    transform: rotate(180deg);
    left: 20px;
}

.next{
    background-image: url(../res/images/next_button.svg);
    right: 20px;
}

.prev:active{
    background-size: 20px;
}
.next:active{
    background-size: 20px;
}