@font-face{
    font-family: customFont3;
    src: url(../res/fonts/Lobster/Lobster-Regular.ttf);
}
#slideShow {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}
#slider{
    display: flex;
    position: absolute;
    flex-direction: row;
    transition: all 1s ease;
}

#slider img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
}

.control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: -20px;
    z-index: 2;
}

.prev,
.next {
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev{
    background-image: url(../res/images/next_button.svg);
    transform: rotate(180deg);
    left: 20px;
}

.next{
    background-image: url(../res/images/next_button.svg);
    right: 20px;
}

.prev:active{
    background-size: 20px;
}
.next:active{
    background-size: 20px;
}

#indicators{
    position:absolute;
    bottom:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}

.indicator{
    width: 40px;
    height:3px;
    margin: 2px;
    background-color: rgba(189, 189, 189, 0.513);
    transition: all 1s ease;
}


.indicator-active{
    background-color: white;
}

.welcome{
    position: absolute;
    color:rgb(231, 231, 231);
    font-family: customFont3;
    width: 100%;
    top: 40%;
    font-size:25px;
    line-height: 18px;
    text-align: center;
}

#description-wrapper{
    position: relative;
}

#description-wrapper img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

#description{
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.829);
    text-align: center;
    font-size: 22px;

}